body {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in; /* Fade-in transition */
    
  }
body.loaded {
    opacity: 1; /* Make body visible */
  }
  
#loader-wrapper {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s ease-out; /* Fade-out transition for loader */
  }
  
#loader-wrapper.hidden {
    opacity: 0; /* Fade-out effect for loader */
    pointer-events: none; /* Disable interaction with loader */
}
  
  
#header{
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: white;
    color: black;
    opacity: .84;
    position: fixed;
    z-index: 9997;
      
}
#header .navigation{
    display: flex;
    justify-content:space-between;
    color: white;
    align-items:center;
    padding-left: 50px;
    padding-right: 50px;  
    
}
#header .navbar ul{
    display: flex;
    flex-direction: row;
    color: transparent;
}
#header .navbar a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#header .navbar a.active{
    color: green;
}
#header .navbar a:hover{
    color: green;
}
#header .navbar i{
    padding-right: 4px;
}
#header .brand{
    font-weight: bold;
    font-size: larger;
    letter-spacing: 3px;
    color: black;
}
#header .brand .coloured{
    color: green;
}
#header .brand a{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width:768px){
    section{
        padding: 50px;
        min-height: 100vh;

    }   
    #home{
        padding-top: 80px;
    } 
}

section{
    padding: 20px;
}
.section-title{
    margin-top: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
    font-weight: bold;
    font-size:3rem;
    margin-bottom: 30px;
}

.action{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.action .btn{
    background-color: white;
    color: green;
}
.action .btn:hover{
    color: white;
    background-color: green;
}
.btn a{
    color: inherit;
    text-decoration: none;
    padding: 2px;
}
.btn{
    border-radius: 40px;
    margin-top: 40px;
    color: white;
    margin-right: 10px;
    margin-bottom: 30px;
}
.btn:hover{
color: green;
background-color: transparent;
border: 1px solid green;
}


#home{
    margin-top: 80px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.678);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;

}
#home img{
    width: 100%;
    border-radius: 10px 15px;
    object-fit: cover;
    aspect-ratio: 5/3;
    margin-bottom: 20px;
}
#home .heroimage{
 min-width:300px;
 
}
#home .introduction{
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#home .buttons{
    display: flex;
    justify-content: center;
}
#home .introduction p{
    font-weight:normal;
    line-height: 40px;
    text-align: center;
    
}
#home .introduction h2{
    font-size:150%;
    font-weight: bold;
}

#home .carousel-indicators button,
#home .carousel-control-prev-icon,
#home .carousel-control-next-icon{
    background-color: darkgreen;
}
#home .catchphrase h2{
    font-size:3rem;
    margin-bottom: 30px;
}
#home .catchphrase .coloured{
    color: green;
}




#stats{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: rgba(0, 98, 0, 0.686);
    padding: 40px;
    flex-direction: row;
}

#stats .stat{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

#stats .icon i{
    background-color: green;
    padding: 20px;
    font-size: 30px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    
}
#stats h2{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}




/* 
#products{
    background-color: rgb(231, 231, 231);
}
#products .rocc-kiln,
#products .tuld,
#products .panel-kiln{
    min-width: 300px;
}
#products img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#products .product-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 4px;
}
#products .more{
    display: flex;
    justify-content: center;
}
#reviews{
    margin-top: 40px;
}

#reviews .card-image{
    min-width:200px;
    padding:5px;
}
#reviews .card-image img{
    height:200px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
   
}
#reviews .card .reviewer{
    font-weight: bold;
    margin-bottom: 10px;
}
#reviews .review-cards{
    flex-wrap:wrap;
    display: flex;
    gap: 20px;
   
}



#products .description{
    padding-bottom: 30px;
}
#products .powespot-features{
   
    display: flex;
    gap: 25px;
   padding-top: 50px;
}
#products .feature{

    display: flex;
    flex-direction: column;

}
#products i{
    font-size: 60px;
}
#products p{
    font-weight: bold;
}
#products .powerspot-image img{
    width: 500px;
    cursor: pointer;

}
#products .powerspot-image:hover img{
    opacity: .1;
   transition: .5s linear;

}
#products .powerspot-image{
    position: relative;
}
#products .powerspot-image .section-title{
    position: absolute;
    top: 50%;
    left: 20%;
    opacity: 0;
}
#products .powerspot-image:hover .section-title{
    opacity: 1;
   transition: .5s linear;

}




#contact{
    background-color: white ;
}
#contact a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
}

#contact a:hover{
    color: orange;
}
#contact ul{
    color: transparent;
}


#news{
    background-color: rgb(231, 231, 231);
}
#news a{
    color: black;
    text-decoration: none;
}

#news .news{
    min-width: 300px;
    padding: 20px;
}
#news .news img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px 17px;
    cursor: pointer;
}
#news iframe{
    width: 100%;
    object-fit: cover;
    border-radius: 12px 17px;
    cursor: pointer;
    height: 200px;
}
#news .news img:hover{
    opacity: .7;
}
#news .news-title{
cursor: pointer;
font-weight: bold;
font-size: large;
margin-top: 5px;
max-width: 400px;
}
#news .news-title:hover,
#news .publish-details:hover{
    color: orange;
}
#news .publish-details{
    font-style: italic;
}
@media screen and (max-width:768px){
    section{
        padding: 20px;
        min-height: 100vh;

    }   
    
    #home{
        padding-top: 70px;
    } 
    #home img{
        width: 400px;
    }
    .col{
        padding-top: 40px;
    }
    #products .powespot-features{
        padding-top: 10px !important;
    }
    #products .powerspot-image img{
        width: 400px;
    }
    #header .navbar span{
        display: none;
    }
    #header .brand{
        font-size: medium;
    }
    .section-title{
        padding-top: 50px !important;
    }

  #footer .newsletter{
    padding-left: 20px;
   
}
}




#footer{
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
}
#footer .footer-title,
#footer a{
    color: white;
    text-decoration: none;
}
#footer a:hover{
    color: orange;
}
#footer ul{
    color: white;
}
#footer .col{
    min-width: 300px;
    text-align:left;
   
}
#footer .copyright{
    color: white;
    padding-top: 50px;
}
#footer .footer-title{
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
 */

#projects .projects{
    display: flex;
    justify-content: center;

}
#projects .project{
    min-width: 300px;
    margin: 15px;
    border-radius: 20px;
    
}
#projects .project img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-top:10px;
    border-radius: 20px 20px 0px 0px;
    
}
#projects .project h2{
    font-size: larger;
    padding-top: 20px;
    font-weight: bold;
}
#projects .project p{
padding-bottom: 20px;
}
#projects a{
    color: inherit;
    text-decoration: none;
}












 #footer{
    min-height: 60vh;
    background-color:rgb(25, 70, 25);
    display: flex;
    align-items: center;
    padding: 40px;
    
 }
 #footer a{
    color: white;
    text-decoration: none;
 }

 #footer h3,
 #footer h2{
    font-size: larger;
    color: white;
 }
 #footer p{
    color: white;
 }

 #footer .socials ul{
    display: flex;
    color: transparent;
    justify-content: space-around;
    
   
 }

 #footer .footeritemone{
    text-align: center;
    min-width: 300px;
    margin-top: 30px;
 }
  #footer .footeritem{
    text-align: center;
    min-width: 300px;
    margin-top: 30px;
 }
 #footer .footeritem li{
    padding-right: 25px;
 }
 #footer ul{
    color: transparent;
 }

 #footer .copyright{
    display: flex;
    justify-content: center;
    padding-top: 40px;
 }
 #footer .copyright i{
    color: white;
    margin-top: 2px;
    margin-right: 10px;
 }
 #footer .copyright h3{
    font-weight: normal;
    font-size: medium;
 }

 #footer a:hover{
    color: green;
 }

 
@media screen and (max-width:768px){
    #header .navbar span{
        display: none;
    }
    #header .brand{
        font-size: medium;
    }
    #home img{
    padding: 0;
    }
    #home .carousel img,
    #abouthero img{
        height: 500px;
    }
    
    
    }


/* About page */
#abouthero{
    min-height: 100vh;
    padding: 20px;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#abouthero .about{
    display: flex;
   
   
}
#abouthero .about-image{
    min-width: 300px;
}
#abouthero img{
    width: 100%;
    height:400px;
    object-fit: cover;
    border-radius: 20px;
}
#abouthero h2{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}
#abouthero p{
    margin-bottom: 30px;
}
#abouthero .value h2{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2rem;
    font-weight: bold;

}


#journey{
    min-height: 100vh;
}
#journey .journey{
    display: flex;
    justify-content: center;
}
#journey .col{
    display: flex;
    min-width:400px;
    margin: 20px;
}
#journey .year{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    color: white;
    background-color: green;
    border-radius:20px;
    width: 100px;
    margin: 20px;
}
#journey .year h2{
    font-size: 1rem;
    padding: 20px;
   
}
#journey .content h2{
    font-size: large;
    font-weight: bold;
}
